:root {
  --redBackground: #FF4747;
  --redText: #FF8080;
  --blackBackgroundDiv: #272529;
  --blackBackground: #1A191C;
  --greyText: #BDBDBD;
  --greyBackgroundDiv: #333036;
  --whiteText: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--blackBackground);
  color: var(--whiteText);
  overflow-y: auto;
  background-image: url('../src/intra.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

}

header {
  color: var(--whiteText);
  padding: 20px;
  width: 100%;
}

.Page-Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.compus {
  display: flex;
  align-items: center;
}

.compus .logo {
  width: 50px;
  margin-right: 10px;
}

.compus h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

#logout {
  padding: 10px 20px;
  background-color: var(--redBackground);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
}

#logout:hover {
  background-color: var(--redText);
}

header h1 {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.profile-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 1200px;
  width: 90%;
  flex: 1;
}
.personal-info {
  grid-column: span 2;
}

.projects-success {
  grid-column: 1;
}

.graph1 {
  background-color: var(--greyBackgroundDiv);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--redBackground);
  overflow-x: auto;
}

.personal-info, .projects-success, .current-projects {
  background-color: var(--greyBackgroundDiv);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--redBackground);
}

h2 {
  font-size: 22px;
  color: var(--redBackground);
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--greyText);
}

strong {
  font-weight: bold;
  color: var(--whiteText);
}

.projects-success {
  background-color: var(--blackBackgroundDiv);
}


.graph1 {
  grid-column: 2;
  grid-row: 2;
  width: fit-content;
  background-color: var(--greyBackgroundDiv);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--redBackground);
  overflow-x: auto;
  height: fit-content;
}

#graph2 {
  grid-column: 2;
  grid-row: 2;
  margin-top: 428px;
  background-color: var(--greyBackgroundDiv);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--redBackground);
  width: fit-content;
  height: fit-content;
}


#title {
  margin-bottom: 10px;
}

#NamesAndTimes {
  font-size: 18px;
  color: var(--greyText);
}

#svg-graph111 {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.login-container {
  background-color: var(--blackBackgroundDiv);
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
  border: 1px solid var(--redBackground);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  font-size: 16px;
  background-color: var(--blackBackground);
  color: var(--whiteText);
  border: 1px solid var(--greyText);
  border-radius: 5px;
  outline: none;
  width: 100%;
}

input:focus {
  border-color: var(--redBackground);
  box-shadow: 0 0 5px var(--redBackground);
}

button {
  padding: 12px;
  background-color: var(--redBackground);
  color: var(--whiteText);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: var(--redText);
}

#error-message {
  margin-top: 15px;
  color: var(--redBackground);
  font-size: 14px;
}

@media (max-width: 1200px) {
  .profile-container {
    grid-template-columns: 1fr 1fr;
  }
  
  .graph1, #graph2 {
    grid-column: 1 / span 2;
    width: 100%;
    justify-self: center;
  }
  
  .current-projects {
    grid-column: 1 / span 2;
    grid-row: auto;
  }
}

@media (max-width: 768px) {
  .profile-container {
    grid-template-columns: 1fr;
    padding: 10px;
    width: auto;
  }

  .personal-info, .projects-success, .current-projects, .graph1, #graph2 {
    grid-column: 1;
    width: 100%;
  }

  .Page-Top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 100%;

  }

  .compus {
    margin-bottom: 0;
  }

  header h1 {
    font-size: 24px;
    margin-top: 15px;
  }
  

  .profile-container {
    padding: 10px;
  }

  .personal-info, .projects-success, .current-projects, .graph1 {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 20px;
  }
  

  h1 {
    font-size: 28px;
  }

  input, button {
    padding: 10px;
    font-size: 16px;
  }
}
